body{color: red;text-align: center;}
/* 内容样式设置 */
p{color: blueviolet;background: dodgerblue;margin: 0 auto;}
span{display: block;width: 15px;height: 15px;margin: 0 auto;}
/* 底部内容修改 */
footer{width: 100%;height: 50px;background: red;color: #ffffff;font-size: 15px;}
footer span{background: lightseagreen;display: block;float: left;line-height: 30px;}
/* 头部内容样式 */
header{width: 100%;height: 30px;background: red;}
header ul li{float: left;margin: 0 15px;background: orangered;color: #ffffff;font-size: 12px;}
header div p{color: mediumaquamarine;}

/* 列表 */
.list{display: block;}

/* 二级页面内容*/
.content{color: red;border: 1px solid red;}

/* 新闻详情 */
.newContent{background: red;}

/* 新闻列表 */
.newList{color: red;}

/* 新闻 */
.new{position: absolute;top: 0;left: 0;}

